[data-md-color-scheme="imt"] {    
    --md-primary-fg-color:white;
    --md-primary-fg-color--dark:  white;

    --md-primary-bg-color: white;
    --md-typeset-a-color: black;

    --md-footer-bg-color: #be1918;

}

.md-button--primary{
    color: white !important;
    background-color: #be1918 !important;
}

.md-button--secondary{
    color: white !important;
    background-color: black !important;
}

.center{
    margin: auto !important;
}

:root {
  --md-admonition-icon--imt: url('/images/favicon.png')
}
.md-typeset .admonition.imt,
.md-typeset details.imt {
  border-color: #475da7;
}
.md-typeset .imt > .admonition-title,
.md-typeset .imt > summary {
    background-color: #475da788;
}
.md-typeset .imt > .admonition-title::before,
.md-typeset .imt > summary::before {
  background-color: #475da7;
  -webkit-mask-image: var(--md-admonition-icon--imt);
          mask-image: var(--md-admonition-icon--imt);
}

